.container{
    display:flex;
    justify-content: space-around;
    padding-top: 1%;
    border:0px solid;
    height: 70px;
    margin-bottom: 1%;
}

.container{
    width: 100%;
}

button{
    margin-top: 15px;
}