.formContainer{
    width: 80%;
    margin:auto;
    padding:5% 0%;
}

.questionContainer{
    padding:5%;
    border:1px solid;
    margin:2% 0%;
}

.wholeBody{
    background-color:rgb(186, 195, 204);
}

.buttonContainer{
    display: flex;
    justify-content: space-around;
}