.createButton{
    border:0px solid;
    display: flex;
    justify-content: flex-end;
    padding: 2%;
}

.cardContainer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap:1%;
    row-gap: 3%;
}

.dashboard{
    padding: 0% 1%;
}