.createButton{
    border:0px solid;
    display: flex;
    justify-content: center;
    padding: 0% 0% 20px 0%;
}

.cardContainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    /* gap:1%; */
    /* row-gap: 3%; */
}

.dashboard{
    padding: 0% 1%;
    background-color:rgb(186, 195, 204);
}

@media screen and (max-width:768px){
    .cardContainer{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width:400px){
    .cardContainer{
        grid-template-columns: repeat(1,1fr);
        padding: 0% 3%;
    }
}