.quizContainer{
    width:70%;
    margin:auto;
    border: 0px solid;
    height: 100vh;
    display: grid;
    align-content: center;
    text-align: start;
}

.buttonContainer{
    border:0px solid;
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.quizBody{
    background-color: teal;
    color:white;
    padding: 0% 2%;
}

@media screen and (max-width:500px){
    .quizContainer{
        width: 100%;
    }
}