.cardContainer{
    border:0px solid;
    padding: 2%;
    border-radius: 5px;
    background-color:aquamarine;
    margin:2%
}

.buttonContainer{
    border: 0px solid;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}